<div id="<%= comp.id %>" class='v-plugin v-input v-interval' data-delay="<%= comp.delay %>"
     <%= partial "components/event", :locals => {comp: comp, events: [comp], parent_id: comp.id} %>>
</div>
